:root {
  --main-title-color: #212121;
  --secondary-title-color: #757575;
  --selection-title-color: #2196f3;
  --section-color: #f5f4fa;
  --secondary-section-color: #e5e5e5;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
/* описание хедера */
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}
.header-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--selection-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--selection-title-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--selection-title-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--selection-title-color);
}
.header {
  background-color: #ffffff;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-title-color);
}

/* герой */
.hero {
  background: #2f303a;
}
.hero-topic {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero-button {
  /* position: absolute; */
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */

  /* display: flex;
align-items: center;
text-align: center; */
  letter-spacing: 0.06em;

  color: #ffffff;

  background: var(--selection-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/* внимание к деталям */
.details-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}
/* чем мы занимаемся */
.affairs {
  background-color: var(--secondary-section-color);
}

/* наша команда */
.team {
  background-color: var(--section-color);
}
.team-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}

/* футер */

.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--selection-title-color);
}
.address-street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.address-mail,
.address-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* ПОРТФОЛИО */
.button-portfilio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
  /* position: absolute; */
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;

  background: var(--section-color);
  border-radius: 4px;
  border: none;
}
.topic-leader {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--main-title-color);
}

.topic-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
}
.button-portfilio:hover,
.button-portfilio:focus {
  background-color: var(--selection-title-color);
  color: #ffffff;
}
